/*
 Práctica 13: Menús Verticales y Horizontales
 */

* {
  box-sizing: border-box;
  margin: 0px;

  img {
    float: left;
    width: 74%;
    border: 5px double;
  }
}

.menuH {
  overflow: hidden;
  border: 5px double;

}

.menuV {
  float: left;
  width: 26%;
  overflow: hidden;
  border: 5px double;
}

.menuV a {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 20px;
  display: block;
}

.menuV a:hover {
  background-color: white;
  color: black;
}

.menuH a {
  background-color: black;
  color: white;
  text-decoration: none;
  float: left;
  width: 25%;
  text-align: center;
  padding: 20px;

}

.menuH a:hover {
  background-color: white;
  color: black;
}

  h1 {
     text-align: center;
  }

  .menuFlex {
     display: flex;
     justify-content: space-around;
     width: 80%;
     margin: 20px auto;
     overflow: hidden;
     border-top: 2px black solid;
  }

  .menuFlex a {
     text-decoration: none;
     background-color: beige;
     color: black;
     padding: 20px;
     flex-grow: 1;
     text-align: center;

  }

  .menuFlex a:first-child,
  .menuGrid a:first-child {
     border-bottom-left-radius: 20px;
  }

  .menuFlex a:last-child,
  .menuGrid a:last-child {
     border-bottom-right-radius: 20px;
  }

  .menuFlex a:nth-child(2) .menuGrid a:nth-child(2) {
     background-color: red;
  }

  .menuGrid {
     display: grid;
     overflow: hidden;
     width: 80%;
     margin: 20px auto;
     border-top: 2px black solid;
     grid-template-columns: repeat(4, 1fr);

  }

  .menuGrid a {
     text-decoration: none;
     background-color: rgb(87, 87, 216);
     color: black;
     padding: 20px;
     text-align: center;

  }

  .menuGrid a:hover {
     background-color: rgb(87, 87, 216);
     border-bottom: 1px solid black;
  }